* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(./images/floor_bg.jpg);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

#add-task-container {
    width: 50%;
    height: 10%;
    padding: 0 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 400px;
    max-width: 400px;
    min-height: 60px;
}

input {
    flex: 5;
    margin: 0 15px 0 0;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 5px 10px;
}

#add-task {
    font-size: 1.1rem;
    padding: 5px 8px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
}

#add-task:hover {
    background-color: rgb(185, 185, 185);
    color: white;
    border-color: rgb(0, 0, 0);
}

#task-container {
    width: 50%;
    height: 70%;
    padding: 0 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    flex-direction: column;
    min-height: 400px;
    min-width: 400px;
    max-width: 400px;
    max-height: 400px;
}

/* Task Styling */

.task {
    width: 95%;
    height: 9%;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin: 13px 0 0 0;
    padding: 5px;
    list-style: none;
    font-size: 1.2em;
    color: rgb(87, 87, 87);
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 375px;
}

li {
    margin-left: 3px;
}

.checkTask {
    font-size: 20px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2px 4px;
    margin-left: 70%;
}

.checkTask:hover {
    color: green;
    border-color: green;
}

.deleteTask {
    font-size: 17px;
    padding: 3px 7px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: black;
}

.deleteTask:hover {
    color: red;
    border-color: red;
}

