* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 325px;
    min-height: 775px;
    overflow: scroll;
}

#header-container {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#main-heading {
    margin-bottom: 10px;
    font-size: 48px;
    margin-top: 20px;
}

#main-underline {
    width: 100px;
    margin-bottom: 20px;
    background-color: rgb(247, 148, 0);
    color: rgb(247, 148, 0);
    height: 4px;
    border: none;
    margin-top: 5px;
}

#buttons {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 2.5%;
}

button {
    padding: 7px 14px;
    background-color: transparent;
    color: rgb(247, 148, 0);
    border: 2px solid rgb(247, 148, 0);
    border-radius: 10px;
}

button:hover {
    transform: scale(1.1);
    transition: .15s;
}

#item-container {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    min-width: 300px;
    max-width: 1200px;
    overflow: scroll;
    scroll-behavior: smooth;
}

.item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 45%;
    gap: 15px;
    min-width: 360px;
}

img {
    width: 150px;
    height: 110px;
    border-radius: 10px;
    border: 2px solid rgb(247, 148, 0);
    min-width: 150px;
    min-height: 110px;
}

.item-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.top-text {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    font-size: 14px;
}

.price {
    color: rgb(247, 148, 0);
    font-size: 14px;
}

.title-separator {
    height: 1px;
    width: 100%;
    background-color: lightgray;
    border: none;
}

.description {
    font-size: 12px;
    min-width: 175px;
}

@media (max-width: 750px) {
    .item {
        width: 75%;
        flex-direction: column;
        align-items: center;
    }
    .top-text {
        justify-content: center;
        gap: 15px;
    }
    .description {
        width: 55%;
        text-align: center;
    }
    #buttons {
        margin-bottom: 15px;
    }
    img {
        width: 40%;
        height: 40%;
        min-height: 150px;
        min-width: 225px;
        max-height: 175px;
    }
    .title-separator {
        width: 50%;
        min-width: 200px;
    }
    .last {
        margin-bottom: 30px;
    }
    #main-heading {
        font-size: 44px;
    }
}

@media (min-width: 850px) {
    img {
        width: 200px;
        height: 130px;
        min-height: 130px;
        min-width: 200px;
        max-height: 130px;
        max-width: 200px;
    }
    .item {
        width: 47%;
    }
    .item-content {
        width: 45%;
        gap: 7px;
        align-items: flex-start;
    }
    .description {
        width: 100%;
    }
    .top-text {
        gap: 10px;
    }
    .item-name, .price {
        font-size: 15px;
    }
    .description {
        font-size: 13px;
    }
    #item-container {
        padding-bottom: 10px;
    }
}

@media (min-width: 1000px) {
    img {
        width: 250px;
        height: 160px;
        min-height: 160px;
        min-width: 250px;
    }
    .item-content {
        width: 45%;
        gap: 10px;
        align-items: flex-end;
    }
    .item {
        width: 47%;
    }
    .description {
        width: 100%;
        font-size: 14px;
    }
    .item-name, .price {
        font-size: 16px;
    }
    #item-container {
        height: 75%;
        gap: 25px;
    }
    #main-heading {
        font-size: 52px;
    }
}

@media (min-width: 1300px) {
    img {
        width: 280px;
        height: 175px;
        min-height: 175px;
        min-width: 280px;
    }
    .item-content {
        width: 45%;
        gap: 10px;
        align-items: flex-end;
    }
    .item {
        width: 47%;
    }
    .description {
        width: 100%;
        font-size: 16px;
    }
    .item-name, .price {
        font-size: 18px;
    }
    #item-container {
        height: 75%;
        gap: 30px;
    }
    #main-heading {
        font-size: 54px;
    }
}

@media (min-width: 1500px) {
    img {
        width: 300px;
        height: 190px;
        min-height: 190px;
        min-width: 300px;
    }
    .item-content {
        width: 45%;
        gap: 12px;
        align-items: flex-end;
    }
    .item {
        width: 47%;
    }
    .description {
        width: 100%;
        font-size: 18px;
    }
    .item-name, .price {
        font-size: 20px;
    }
    #item-container {
        height: 75%;
        gap: 35px;
    }
    #main-heading {
        font-size: 56px;
    }
}
