* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 325px;
    min-height: 775px;
    overflow: scroll;
}

#header-container {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#main-heading {
    margin-bottom: 10px;
    font-size: 48px;
}

#main-underline {
    width: 100px;
    margin-bottom: 10px;
    background-color: rgb(247, 148, 0);
    color: rgb(247, 148, 0);
    height: 4px;
    border: none;
}

#buttons {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 2%;
}

button {
    padding: 5px 10px;
    background-color: transparent;
    color: rgb(247, 148, 0);
    border: 2px solid rgb(247, 148, 0);
    border-radius: 10px;
}

button:hover {
    transform: scale(1.1);
    transition: .15s;
}

#item-container {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    min-width: 300px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    gap: 15px;
    min-width: 360px;
}

img {
    width: 150px;
    height: 110px;
    border-radius: 10px;
    border: 2px solid rgb(247, 148, 0);
    min-width: 150px;
    min-height: 110px;
}

.item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.top-text {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    font-size: 14px;
}

.price {
    color: rgb(247, 148, 0);
    font-size: 14px;
}

.title-separator {
    height: 1px;
    width: 100%;
    background-color: lightgray;
    border: none;
}

.description {
    font-size: 12px;
    max-width: 175px;
    min-width: 175px;
}

@media (max-width: 750px) {
    .item {
        width: 75%;
        flex-direction: column;
    }
    .top-text {
        justify-content: center;
        gap: 15px;
    }
    .description {
        width: 55%;
        text-align: center;
    }
    #buttons {
        margin-bottom: 10px;
    }
    img {
        width: 40%;
        height: 40%;
        min-height: 150px;
        min-width: 225px;
        max-height: 175px;
    }
}
